.container_mobile {
  padding: 20px;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container_mobile p {
  max-width: 768px;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
}